.react-calendar {
    background-color: #171717;
    border: none;
  }

/* 년-월 */
.react-calendar__navigation__label > span {
    color: #fff;
    font-family: SUIT Variable;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
}

.react-calendar__navigation button:enabled:hover{
  color: #171717;
    width: 15px;
    background-color: #171717;
    border-radius: 3px;
}

/* 요일 */
.react-calendar__month-view__weekdays__weekday{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.react-calendar__month-view__days__day--weekend {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 44px;
    height: 44px;
    text-align: center;
  }
  
/* 이번 달 일자 */
.react-calendar__tile{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;;
}

/* 저번 달 & 다음 달 일자 */
.react-calendar__month-view__days__day--neighboringMonth{
    color: #5F5F5F;
    font-size: 18px;
    font-weight: bold;
    width: 44px;
    height: 44px;
}

  /* 오늘 날짜 */
  .react-calendar__tile--now{
    background-color: #292929;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
  }
  
  /* 선택된 날짜의 배경색 변경 */
  .react-calendar__tile--active {
    background-color: #51F8C4;
    color: #171717;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
  }

  .react-calendar__tile--hasActive {
    background: #51F8C4;
  }
  
  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background: #51F8C4;
  }

  /* 일정 있는 날 표시 점 */
  .dot {
    height: 8px;
    width: 8px;
    background-color: #51F8C4;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
  }