@charset "UTF-8";

/* 달 이동 아이콘 */
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

/* 헤더 부분 wrapper */
.react-datepicker__header {
    text-align: center;
    background-color: #303030;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
    color: #fff;
  }

/* 현재 년도 */
.react-datepicker__header__dropdown {
    display: none;
}

/* 날짜 부분 wrapper */
.react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #171717;
    color: #fff;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
  }

  /* 현재 년 / 월 */
  .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #fff;
  font-weight: bold;
  font-size: 0.944rem;
}

/* 요일 */
.react-datepicker__day-name{
    color: #fff;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}

/* 날짜 */
.react-datepicker__day{
    color: #fff;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}

/* 선택된 날짜 */
.react-datepicker__day--selected{
    border-radius: 0.3rem;
    background-color: #51F8C4;
    color: #171717;
    border-radius: 50px;
}

.react-datepicker__day--keyboard-selected{
    border-radius: 0.3rem;
    background-color: #171717;
    color: #fff;
    border-radius: 50px;
}

/* 전 & 후 날짜 */
.react-datepicker__day--outside-month{
    color: #ccc;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
}